body {
	background-color: rgb(183 183 157 / 20%);
    color: #21884a;
    font-family: century gothic;
    background-image: url(images/love.jpeg);
    
}

h1 {
	color: black;
	font-family: ink free;
	font-weight: 500;
}

h2 {
	color: black;
	font-size: 18px;
}
a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 400;
	font-size: 16px;
}

a: hover {
	color: blue;
}

#logo{
	width:80px;
}

.container {
	width: 600px;
	margin: 40px auto;	
}

@media (max-width: 660px) {
	.container {
		width: 500px;
	}
}


@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 100%;
}

.btn-blue {
	background-color: #21884a;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}
.btn-blue: hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 40px;
	color: rgb(200, 200, 200);
}

.list-inline i:hover {
	color: black;
}

#introduction p {
	margin-bottom: 40px;
}